

.home-container{
  width:100%;
  height: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;

}

@media (orientation: landscape) {
  .main-body{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
  }
}

@media (orientation: portrait) {
  .main-body{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}