.display{
    height: 70vh;
    width: 70%;

    min-width: 50vh;

    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: auto;

    background-color: #252525;
}

.display-code{
    justify-self: center;
    align-self: center;
    text-align: left;
    padding-left: 4vh;
}

.copy-button{
    align-self: flex-start;

    margin: 1vh;
    border: 1px solid black;
    border-radius: 0;
    background-color: #f5f5f5;

    padding: 0;

    width: 50px;
    aspect-ratio: 1/1;

    transition: 500ms ease-in-out;
}
.copy-button-B{
    align-self: flex-end;

    margin: 1vh;
    border: 1px solid black;
    border-radius: 0;
    background-color: #f5f5f5;

    padding: 0;

    width: 50px;
    aspect-ratio: 1/1;

    transition: 500ms ease-in-out;
}

.copy-button:hover{
    filter:invert(100%)
}

.copy-icon{
    width: 20px;
    height: 20px;
    transform: translateY(10%);
}

.hljs{
    background: none;
}

p.javascript{
    /* all:unset; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    padding-left: 2vw;
    padding-right:2vw;
    color: auto;
}



.javascript{
    text-align: left;
    color: #f5f5f5;
}
.glsl{
    text-align: left;
    color: #f5f5f5;
}

.error-display{
    position: fixed;
    left:50%;
    color:#f5f5f5;
    justify-self: center;
    align-self: center;
}

