@media (orientation: landscape) {
  .footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    /* margin-top: 1em; */
  }
}
@media (orientation: portrait) {
  .footer {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1em; */
    transform: scale(0.8);
  }
  .socials {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .social-icon {
    margin-top: 1em;
    height: 2em;
    /* padding-left: 2em; */
  }
}

.copyright {
  font-weight: 200;
  font-size: 0.75em;
  justify-self: flex-start;
}

.socials {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.social-icon {
  margin-top: 1em;
  height: 2em;
  padding-left: 2em;
}
