
@media (orientation:landscape) {

    .footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        /* margin-top: 1em; */
        
    }
}
@media (orientation:portrait) {

    .footer{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        /* margin-top: 1em; */
        
    }
}
    
.copyright{
    font-weight: 200;
    font-size: 0.75em;
    justify-self: flex-start;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon{
    margin-top: 1em;
    height: 2em;
    padding-left: 2em;
}

