.navBar{
    /* margin-bottom: 1vh; */

    display: flex;
    justify-content: center;
    width:100%;

    flex-grow: 1;
    
}

.nav-button{
    all:unset;
    width: 100%;
    height: 6vh;

    /* padding:1vh; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border: 1px solid #18181C;

    transition-property: flex;
    transition: 200ms ease-in-out;
}

.nav-button:hover{
    background-color: #18181C;
    color: #f5f5f5;

}
.nav-button:active{
    background-color: #304BD3;
    color: #252525;
}