#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --totalWid: 80vmax;

  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.app-container{
  width:80vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;

  /* border: 1px solid black; */
}
.main-body{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
