:root {
  all: unset;
  font-family: PP Neue Montreal, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100vw;
  height: 100svh;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: #252525;
  background-color: #f5f5f5;

  --bg : #f5f5f5;
  --text : #161616;
  --primary : #304BD3;
  --secondary : #FE1301;

  --mouseX:0px;
  --mouseY:0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: Bebas Neue;
  src: url(../public/BebasNeue-Regular.otf);
}
@font-face {
  font-family: PP Neue Montreal;
  src: url(../public/PPNeueMontreal-Regular.otf);
}
@font-face {
  font-family: PP Neue Montreal Bold;
  src: url(../public/PPNeueMontreal-Bold.otf);
}
@font-face {
  font-family: PP Neue Montreal Bold Italic;
  src: url(../public/PPNeueMontreal-BoldItalic.otf);
}
@font-face {
  font-family: PP Neue Montreal Book;
  src: url(../public/PPNeueMontreal-Book.otf);
}
@font-face {
  font-family: Satoshi;
  src: url(../public/Satoshi-Variable.ttf);
}


body, html {
  all: unset;
  width: 100vw;
  height: 100svh;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}